.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  z-index: 2;
}

.synchronized-date {
  margin: 0px 5px;
  position: absolute;
}

.table {
  padding-top:30px;
  margin: 0px 10px;
}

.disclaimer-button {
  margin-top: 30px;
}

.disclaimer {
  font-size: xx-large;
  color: red;
}

.btn {
  background: black;
}

.btn:hover {
  background: #424242;
}

.money {
  font-size: 10px;
}
