.thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  z-index: 2;
}

.synchronized-date {
  margin: 0px 10px;
  position: absolute;
}

.disclaimer-button {
  margin-top: 30px;
}

.disclaimer {
  font-size: xx-large;
  color: red;
}

.btn {
  background: black;
}

.btn:hover {
  background: #424242;
}

.selected-btn {
  background: white;
  color: black;
}

.avg-table {
  width: auto;
}

.avg-table-area {
  padding-top: 50px;
  margin: 0px 10px;
}

.table {
  margin: 0px 10px;
}

.page-title {
  font-size: 16px;
}

.menu-icon{
  margin: 5px;
}

@media screen and (max-width: 600px) {
  .row .col.s4 {
    width: calc((100% - (10px * 3)) / 3);
    margin: 5px 5px 5px 5px;
  }
}

@media screen and (min-width: 601px) {
  .row .col.m2 {
    width: calc((100% - (10px * 6)) / 6);
    margin: 5px 5px 5px 5px;
  }
}
